{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
	{% include "partials/page-header.twig" with { 'title' : title } %}
	<form id="edit-category" method="post" action="{{ post_url }}" enctype="multipart/form-data">
		<div class="field{{ form_errors.name ? ' has-danger' : '' }}">
			<label for="name">Namn</label>
			<input name="name" type="text" class="input" id="name" value="{{ old.name }}">
			{% if form_errors.name %}
				<span class="form-text">{{ form_errors.name | first }}</span>
			{% endif %}
		</div>
		<div class="field">
			<label for="slug">Slug</label>
			<input name="slug" type="text" class="input" id="slug" value="{{ old.slug ? old.slug : category.slug }}" disabled>
		</div>
		<div class="field">
			<label for="image1">Huvudbild (TODO)</label>
			{% if category.image1 %}
				<div class="main-image">
					<img src="{{ image_url(category.image1, 'large') }}" alt="" />
				</div>
			{% endif %}
			<div class="box">
				<input type="file" class="input-file" id="image1" name="image1" aria-describedby="fileHelp">
			</div>
		</div>
		<button type="submit" class="button is-primary">Spara</button>
	</form>
{% endblock %}